<p id="notice"><%= notice %></p>

<p>
  <strong>Nome agencia:</strong>
  <%= @agencium.nome_agencia %>
</p>

<%= link_to 'Edit', edit_agencium_path(@agencium) %> |
<%= link_to 'Back', agencia_path %>
