<p id="notice"><%= notice %></p>

<p>
  <strong>Conta:</strong>
  <%= @dado_bancario.conta %>
</p>

<%= link_to 'Edit', edit_dado_bancario_path(@dado_bancario) %> |
<%= link_to 'Back', dado_bancarios_path %>
