<div class="container margin">
	<h1 class="title text-center">Contas a Pagar</h1>
	<div class="card row" style="padding-top: 25px; padding-bottom: 25px;">
		<table class="col-md-12">
		<tr>
			<th class="text-center"><h4 class="title"> Nome </h4></th>
			<th class="text-center"><h4 class="title"> Valor </h4></th>
			<th class="text-center"><h4 class="title"> Tipo </h4></th>
			<th class="text-center"><h4 class="title"> Data </h4></th>
			<th class="text-center"><h4 class="title"> Pago </h4></th>
		</tr>
		<tr>
			<td class="text-center">João</td>
			<td class="text-center">R$ 500,00</td>
			<td class="text-center">Funcionario</td>
			<td class="text-center">28/10/2018</td>
			<td class="text-center"><i class="material-icons">check</i></td>
		</tr>

		<tr>
			<td class="text-center">Maria</td>
			<td class="text-center">R$ 900,00</td>
			<td class="text-center">Fornecedor</td>
			<td class="text-center">31/10/2018</td>
			<td class="text-center"><i class="material-icons">cancel_presentation</i></td>
		</tr>
		</table>
	</div>
</div>