<% if @array_product.present? %>
<% @array_product.each do |item| %>
<div class="container margin">
	<div>
		<%= item.nome %>	
	</div>
	<div>
		<%= item.descricao %>	
	</div>
</div>

<% end %>
<% end %>