
@media (max-width: 1280px) {
  h3.wthree_text_info {
      font-size: 2.2em;
  } 
}

h3.wthree_text_info {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #98a6ad;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.grid figure {
    position: relative;
    overflow: hidden;
    background: #000000;
    text-align: center;
}

figure.effect-roxy img {
    max-width: none;
    width: calc(100% + 60px);
    width: -o-calc(100% + 60px);
    width: -ms-calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-50px,0,0);
    transform: translate3d(-50px,0,0);
    -moz-transform: translate3d(-50px,0,0);
    -o-transform: translate3d(-50px,0,0);
    -ms-transform: translate3d(-50px,0,0);
}
.grid figure img {
    position: relative;
    display: block;
    opacity: 0.8;
}

figure.effect-roxy figcaption {
    padding: 3em;
    text-align: right;
    border: 13px solid rgba(255, 255, 255, 0.15);
}
.grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption {
    padding: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
    pointer-events: none;
}

figure.effect-roxy h3 {
    padding: 1.5em 0 .5em;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.grid figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h3 span {
    font-weight: 800;
    color: #070838;
}

@media (max-width: 991px) {
.grid figure p {
    letter-spacing: 6px;
    font-size: 0.9em;
}
}

.grid figure p {
    letter-spacing: 12px;
    color: #fff;
    line-height: 2em;
    font-size: 1.1em;
}

.bb-middle-agileits-w3layouts.forth.grid figure.effect-roxy h3 {
       padding: 0em 0 .5em;
  }

body {
	background: #ffffff !important;
	color: #070838;
  overflow-x: hidden !important;
}

.background-home {
    background: #ffffff !important;
}

main {
	flex: 1 0 auto;
}

.nav-color {
	background-color: #448aff !important;
	border-radius: 0;
	min-height: 70px;
}

.logo-big {
    width: 140px;
    overflow: hidden;
    margin-top: -10px;
    display: block;
}

.stripe-banner {
    width: 1920px;
    height: 50px;
    max-height: 50px;
    bottom: 88%;
    right: -300px;
    position: absolute;
}

.first-image {
	width: auto;
}

.some-infos {
	width: auto;
	height: 250px;
}


.slider-text-inner {
    display: table-cell;
    vertical-align: middle;
    min-height: 700px;
}

.desc {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
}


.desc .price {
    font-size: 14px;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 20px;
}

.slider-text {
    display: table;
    min-height: 600px;
}

.fh5co-bg-section {
  background-color: #ffffff;
}

#fh5co-services,
#fh5co-started,
#fh5co-testimonial,
#fh5co-started,
#fh5co-product,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 5em 0;
  padding-bottom: 3em;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-services,
  #fh5co-started,
  #fh5co-testimonial,
  #fh5co-started,
  #fh5co-product,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-footer {
    padding: 3em 0;
  }
}

.img-carousel-1 {
	background: url('https://res.cloudinary.com/hasashisama/image/upload/v1542219965/off-white-unc.jpg') 0% 0% / cover no-repeat;  width: 100%; height: 626px;
}

.img-carousel-2 {
	background: url('https://res.cloudinary.com/hasashisama/image/upload/v1542219966/pirate-black.jpg') 0% 0% / cover no-repeat;  width: 100%; height: 626px;
}

.img-carousel-3 {
	background: url('https://res.cloudinary.com/hasashisama/image/upload/v1542219965/off-white-zoom-fly.jpg') 0% 0% / cover no-repeat;  width: 100%; height: 626px;
}

.margin-nav {
    margin-top: 40px;
    padding-top: 0.5px;
}

#form-funcionario {
    padding-top: 75px;
    padding-bottom: 45px;
    margin-top: 35px;
    margin-bottom: 55px;
}

#form-cargo {
    padding-top: 75px;
    padding-bottom: 35px;
    margin-top: 45px;
}

#form-produto {
    padding-top: 55px;
    padding-bottom: 35px;
    margin-top: 45px;
}

#form-setor {
    margin-top: 45px;
    padding-top: 45px;
}

#card_login {
	width: 500px;
	min-height: 300px;
	margin: 0 auto;
}

.margin {
  margin-top: 75px;
}

#fh5co-product {
  padding: 3em 0;
}

.product {
  margin-bottom: 40px;
}

.product .product-grid {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    height: 350px;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.product .desc .price {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.js .animate {
  opacity: 0;
}

.product .product-grid .inner {
    display: table;
    height: 350px;
    width: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.product .product-grid .inner {
    opacity: 1;
    background: transparent;
}

#page {
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.product .product-grid .inner p {
    vertical-align: middle;
}

.icon {
    padding: 7px 10px !important;
    color: #fff !important;
    background: #d1c286 !important;
}

.pad-inside-icon {
    padding-right: 10px !important;
}


.item {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0) !important;
}

.img-preview {
    display: flex;
    justify-content: center;
    margin-top: -25vh;
    margin-bottom: -35vh;
}

#margin-nav-pills {
  margin-left: 150px; margin-right: 150px; margin-top: 25px;
}

#margin-tab {
  margin-left: 150px; margin-right: 150px;
}

.pad-button {
    padding-top: 5em;
}

.bg-form-color {
    background-color: #d1c286 !important;
}

.margin-button {
    margin-bottom: 25px;
}


@media (max-width: 600px) { 
    .margin-form-all {
        border: 1px !important;
        border-radius: 15px !important;
        margin: 75px 75px !important;
    }
}


@media (min-width: 1000px) { 
    .margin-form-all {
        border: 1px !important;
        border-radius: 15px !important;
        margin: 75px 200px !important;
    }
}

.pad-form {
    padding-left: 15px;
}