body {
	background: #171440 !important;
	color: #98a6ad;
  	overflow-x: hidden !important;
}

.background-home {
    background: #ffffff !important;
}

main {
	flex: 1 0 auto;
}

.nav-color {
	background-color: #448aff !important;
	border-radius: 0;
	min-height: 70px;
}

.logo-big {
    width: 140px;
    overflow: hidden;
    margin-top: -10px;
    display: block;
}

.stripe-banner {
    width: 1920px;
    height: 50px;
    max-height: 50px;
    bottom: 88%;
    right: -300px;
    position: absolute;
}

.first-image {
	width: auto;
}

.some-infos {
	width: auto;
	height: 250px;
}


.slider-text-inner {
    display: table-cell;
    vertical-align: middle;
    min-height: 700px;
}

.desc {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
}


.desc .price {
    font-size: 14px;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 20px;
}

.slider-text {
    display: table;
    min-height: 600px;
}

.fh5co-bg-section {
  background-color: #ffffff;
}

#fh5co-services,
#fh5co-started,
#fh5co-testimonial,
#fh5co-started,
#fh5co-product,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 5em 0;
  padding-bottom: 3em;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-services,
  #fh5co-started,
  #fh5co-testimonial,
  #fh5co-started,
  #fh5co-product,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-footer {
    padding: 3em 0;
  }
}

.img-carousel-1 {
	background: url('/assets/off-white-unc.jpg') 0% 0% / cover no-repeat;  width: 100%; height: 626px;
}

.img-carousel-2 {
	background: url('/assets/pirate-black.jpg') 0% 0% / cover no-repeat;  width: 100%; height: 626px;
}

.img-carousel-3 {
	background: url('/assets/off-white-zoom-fly.jpg') 0% 0% / cover no-repeat;  width: 100%; height: 626px;
}

.margin-nav {
    margin-top: 40px;
    padding-top: 0.5px;
}

#form-funcionario {
    padding-top: 75px;
    padding-bottom: 45px;
    margin-top: 35px;
    margin-bottom: 55px;
}

#form-cargo {
    padding-top: 75px;
    padding-bottom: 35px;
    margin-top: 45px;
}

#form-setor {
    margin-top: 45px;
    padding-top: 45px;
}

#margin-nav-client {
	border: 1px !important;
	border-radius: 15px !important;
	margin-left: 75px;
	margin-right: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-top: 0.5px;
}

#card_login {
	width: 500px;
	min-height: 300px;
	margin: 0 auto;
}

.margin {
  margin-top: 75px;
}

#fh5co-product {
  padding: 3em 0;
}

.product {
  margin-bottom: 40px;
}

.product .product-grid {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    height: 350px;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.product .desc .price {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.js .animate {
  opacity: 0;
}

.product .product-grid .inner {
    display: table;
    height: 350px;
    width: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.product .product-grid .inner {
    opacity: 1;
    background: transparent;
}

#page {
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.product .product-grid .inner p {
    vertical-align: middle;
}

.icon {
    padding: 7px 10px !important;
    color: #fff !important;
    background: #d1c286 !important;
}

.item {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0) !important;
}