<div class="row">
	<div class="col-md-12">
		<div class="img-preview" align="center">
			<%= image_tag @product.imagem %>
		</div> 

		<div class="row animate-box fadeInUp animated-fast">
			<div class="col-md-12 text-center fh5co-heading">
				<p>
					<%= link_to 'Adicionar ao Carrinho <i class="material-icons">shopping_cart</i>'.html_safe, carts_path(product_id: @product.id), method: :POST, class: 'btn btn-primary btn-outline btn-lg' %>
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="container">
	<div class="card card-nav-tabs card-plain">
		<div class="card-header" style="background: #d1c286 !important;">
			<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
			<div class="nav-tabs-navigation" style="padding-left: 26%;">
				<div class="nav-tabs-wrapper"">
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#home" data-toggle="tab">Informações <i class="material-icons"> info </i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#updates" data-toggle="tab">Detalhes do Produto <i class="material-icons"> help </i> </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#history" data-toggle="tab">Produtos Similares <i class="material-icons">more_vert </i></a>
						</li>
					</ul>
				</div>
			</div>
		</div><div class="card-body" style="background: rgba(209,194,134,0.4);">
		<div class="tab-content text-center">
			<div class="tab-pane active" id="home">
			<div><h2> <%= @product.nome %> </h2></div>
				<p> <%= @product.descricao %> </p>
				<div class="row">
					<div class="col-md-6">
						<h5 class="title">KEEP IT SIMPLE</h5>
						<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					</div>
					<div class="col-md-6">
						<h5 class="title">LESS IS MORE</h5>
						<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="updates">
				
			</div>
			<div class="tab-pane" id="history">
				
			</div>
		</div>
	</div>
</div>
</div>