<div class="nested-fields">
	<span class="bmd-form-group"><div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="material-icons">phone</i>

			</span>

		</div>

		<%= f.text_field :telefone,  class: 'form-control', placeholder: "Telefone" %>
		<%= link_to_remove_association "Excluir Telefone", f, class: 'btn' %>
	</div></span>
</div>